/* Navbar.css */

.nav-link-hover {
  transition: all 0.2s ease-in-out;
  position: relative;
}

.nav-link-hover:hover,
.nav-link-hover.active {
  /* color: #0d6efd !important; */
  color: #ffffff !important;
  /* text-decoration: none; */
}

.nav-link-hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}

.nav-link-hover:hover::after,
.nav-link-hover.active::after {
  transform: scaleX(1);
}

.brand-hover {
  transition: transform 0.3s ease-in-out;
}

.brand-hover:hover {
  transform: scale(1.03);
  text-decoration: none;
}

.brand-hover:hover strong {
  color: #ffffff !important;
}
.brand-hover strong {
  color: #000;
}

.nav-container {
  padding: 0px;
  margin: 0px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.bg-gradient-info {
  background-color: #36b9cc;
  background-image: linear-gradient(180deg, #36b9cc 50%, #258391 100%);
  background-size: cover;
}

.bg-gradient-danger {
  /* background-color: #e74a3b; */
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(231, 74, 59, 1) 0%,
    rgba(231, 74, 59, 1) 100%
  );
  background-size: cover;
}

/* .bg-gradient-danger { */
/* background-color: #858796;
    background-image: linear-gradient(180deg, #858796 10%, #60616f 100%);
    background-size: cover; */
/* background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(33, 33, 125, 1) 20%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: cover;
  color: #ffffff;
} */
